[package]
name = "crw-preferences"
version = "0.1.0"
authors = ["Manuel <manuel.turetta94@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "staticlib", "lib"]

[dependencies]
cocoon = "0.3.0"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
bincode = "1.3.3"
cfg-if = "1.0.0"
thiserror = "1.0.25"
base64 = "0.13.0"
ffi_helpers = { version = "0.3.0", optional = true }
libc = { version = "0.2.94", optional = true }


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
dirs = "4.0.0"
once_cell = "1.7.2"

[target.'cfg(all(target_arch = "wasm32", target_os = "unknown"))'.dependencies]
wasm-bindgen = { version = "0.2.62", default-features = false, optional = true }
rand = { version = "0.7.3", optional = true}
web-sys = { version = "0.3.51", optional = true, features = ["Window", "Storage"] }

[target.'cfg(all(target_arch = "wasm32", target_os = "unknown"))'.dependencies.bindgen]
version = "0.2.74"
optional = true
package = "wasm-bindgen"

[features]
js = ["web-sys", "bindgen", "rand/wasm-bindgen"]
ffi = ["ffi_helpers", "libc"]
